In [1]:
pip install pymysql

Collecting pymysqlNote: you may need to restart the kernel to use updated packages.

  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [5]:
import pandas as pd

# Read all CSV files
category = pd.read_csv('C:/Users/USER/Downloads/archive (1)/category.csv')
products = pd.read_csv('C:/Users/USER/Downloads/archive (1)/products.csv')
sales = pd.read_csv('C:/Users/USER/Downloads/archive (1)/sales.csv')
stores = pd.read_csv('C:/Users/USER/Downloads/archive (1)/stores.csv')

# Check column names first
print("Sales columns:", sales.columns.tolist())
print("Stores columns:", stores.columns.tolist())
print("Products columns:", products.columns.tolist())
print("Category columns:", category.columns.tolist())

# Perform the joins with EXPLICIT join conditions (like your SQL)
we_knows = sales.merge(stores, 
                       left_on='store_id', 
                       right_on='Store_ID', 
                       how='inner') \
                .merge(products, 
                       left_on='product_id', 
                       right_on='Product_ID', 
                       how='inner') \
                .merge(category, 
                       left_on='Category_ID',  # from products table
                       right_on='category_id', 
                       how='inner')

# Select and rename columns to match your SQL output
we_knows = we_knows[[
    'sale_id',
    'sale_date.1',
    'quantity',
    'Store_Name',
    'City',
    'Country',
    'Product_Name',
    'Price',
    'category_name'
]].rename(columns={'sale_date.1': 'sale_date'})

print(f"\nTotal rows: {len(we_knows)}")
print(we_knows.head())

# Save to CSV
we_knows.to_csv('we_knows_full.csv', index=False)

Sales columns: ['sale_id', 'sale_date.1', 'store_id', 'product_id', 'quantity']
Stores columns: ['Store_ID', 'Store_Name', 'City', 'Country']
Products columns: ['Product_ID', 'Product_Name', 'Category_ID', 'Launch_Date', 'Price']
Category columns: ['category_id', 'category_name']

Total rows: 1040200
     sale_id   sale_date  quantity               Store_Name        City  \
0    YG-8782  16/06/2023        10  Apple South Coast Plaza  Costa Mesa
1  QX-999001  13/04/2022        10   Apple Parque La Colina      Bogota
2   JG-46890    5/7/2021         5        Apple Leidseplein   Amsterdam
3    XJ-1731  20/07/2022         9  Apple Downtown Brooklyn    Brooklyn
4   FG-95080  18/03/2022         7       Apple Shanghai IFC    Shanghai

         Country                Product_Name  Price         category_name
0  United States               iPhone 13 Pro    308            Smartphone
1       Colombia    Apple Watch Nike Edition    884              Wearable
2    Netherlands              Magic Trackpad   1242           Accessories
3  United States  iPad mini (6th Generation)    573                Tablet
4          China                   Apple TV+    404  Subscription Service

In [23]:
we_knows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040200 entries, 0 to 1040199
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   sale_id        1040200 non-null  object
 1   sale_date      1040200 non-null  object
 2   quantity       1040200 non-null  int64
 3   Store_Name     1040200 non-null  object
 4   City           1040200 non-null  object
 5   Country        1040200 non-null  object
 6   Product_Name   1040200 non-null  object
 7   Price          1040200 non-null  int64
 8   category_name  1040200 non-null  object
dtypes: int64(2), object(7)
memory usage: 71.4+ MB

In [25]:
we_knows.to_csv('C:/Users/USER/Downloads/archive (1)/we_knows_full.csv', index=False)